#conda create -n bertopic_env python=3.10 -y
#conda activate bertopic_env
#pip install --upgrade pip
#pip install -r requirements.txt
#python -m spacy download zh_core_web_sm en_core_web_sm ru_core_news_sm

bertopic
keybert
gensim
spacy
jieba
langdetect
pymorphy2
umap-learn
hdbscan
sentence-transformers
matplotlib
seaborn
plotly
pandas
scikit-learn
numpy
requests
tqdm
pyyaml
optuna
openpyxl